{% extends 'account/base.html' %}
{% load i18n static %}

{% block css %}
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/font-awesome/css/fontawesome-all.min.css' %}" rel="stylesheet">

    <link href="{% static 'plugins/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        body {
            background: url("{% static 'images/login_bg.jpg' %}") center center no-repeat;
            background-size: cover;
        }

        h3, p {
            color: #e6e6e6;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">{% trans 'Welcome to Blog' %}</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                </p>

                <p>
                    When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>

                <p>
                    <small>It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.</small>
                </p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" role="form" action="{% url 'account_login' %}" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="login" id="id_login" autocomplete="email"
                                   class="form-control"
                                   placeholder="Username or e-mail" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control"
                                   autocomplete="current-password" required="" id="id_password">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">{% trans 'Forgot password?' %}</button>

                        <a href="#">
                            <small>{% trans 'Forgot password?' %}</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>{% trans 'Do not have an account?' %}</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="{% url 'account_signup' %}">{% trans 'Create an account' %}</a>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                {% trans 'Copyright by Jumageldiyew B.' %}
            </div>
            <div class="col-md-6 text-right">
                <small>© 2020</small>
            </div>
        </div>
    </div>
{% endblock %}


