{% load static %}

<!-- Mainly scripts -->
    <!-- jquery 3.4.1 -->
    <script src="{% static 'plugins/jQuery/jquery-3.4.1.min.js' %}"></script>
    <!-- popper js -->
    <script src="{% static 'plugins/popper/popper.min.js' %}"></script>
    <!-- bootstap js -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- metisMenu js -->
    <script src="{% static 'plugins/metismenu/jquery.metisMenu.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
